* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.25;
    color: #222;
    background-color: #f5f5f5;
}

h1,
h2,
h3 {
    font-weight: 700;
}

a {
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
}

th {
    padding: 0.3em;
    border: 0.1em solid #222;
}

#schedule th {
    max-width: 7em;
    min-width: 7em;
    text-align: center;
}

#schedule th:first-child {
    max-width: 3.5em;
    min-width: 3.5em;
    padding: 0.2em;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

button {
    position: relative;
    background-color: #2070d0;
    color: #fff;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
}
button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
}
button:focus::before,
button:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}
button:active {
    outline: none;
}
button:active::before {
    background-color: rgba(0, 0, 0, 0.1);
}

dialog {
    position: absolute;
    inset: 50%;
    width: 18rem;
    padding: 1rem;
    translate: -50% -50%;
}

dialog input {
    width: 100%;
    padding: 0.4rem;
    border: 0.1rem solid #222;
    margin-bottom: 0.6rem;
    font-size: medium;
}
dialog input:last-child {
    margin-bottom: 0;
}

dialog form {
    display: flex;
    height: 2rem;
}
dialog form button {
    width: 4rem;
}

#modalColor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    margin: 1rem 0;
}
#modalColor button {
    border: 0.1rem solid #222;
    height: 2rem;
    outline: none;
}
#modalColor button:active,
#modalColor button.active {
    border: 0.2rem dashed #000;
}
#modalColor button:hover,
#modalColor button:focus {
    border: 0.2rem dashed rgba(32, 32, 32, 0.8);
}
#modalColor button:hover::before,
#modalColor button:focus::before,
#modalColor button:active::before {
    background-color: rgba(0, 0, 0, 0);
}

#courseCodes {
    border: 0.1rem solid #222;
    width: min(90%, 50rem);
    margin: 3rem 0 1rem 0;
    font-size: large;
    padding: 0.4rem;
}

#exams {
    margin-bottom: 3rem;
    width: 96%;
}

@media screen and (max-width: 767px) {
    html,
    body {
        font-size: 14px;
    }
}
