* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.25;
    color: #000;
    background: #f5f5f5;
}

input {
    text-transform: uppercase;
    font-size: 0.8rem;
}

h1,
h2,
h3 {
    font-weight: 700;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 0.3em;
    border: 0.1em solid #222;
}

#schedule th,
#schedule td {
    max-width: 7em;
    min-width: 7em;
    text-align: center;
}

#schedule th:first-child,
#schedule td:first-child {
    max-width: 3.5em;
    min-width: 3.5em;
    padding: 0.2em;
}

tr:nth-child(odd) {
    background: #ddd;
}

button {
    position: relative;
    background: #2070d0;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    color: #fff;
}
button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
}
button:focus::before,
button:hover::before {
    background: rgba(0, 0, 0, 0.2);
}
button:active {
    outline: none;
}
button:active::before {
    background: rgba(0, 0, 0, 0.1);
}

dialog {
    position: absolute;
    inset: 50%;
    width: 18rem;
    translate: -50% -50%;
}

dialog input {
    width: 100%;
    padding: 0.4rem;
    border: 0.1rem solid #222;
    margin-bottom: 0.6rem;
}
dialog input:last-child {
    margin-bottom: 0;
}

dialog form {
    display: flex;
    height: 2rem;
}
dialog form button {
    width: 4rem;
}

#modalColor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    margin: 1rem 0;
}
#modalColor button {
    border: 0.1rem solid #222;
    height: 2rem;
    outline: none;
}
#modalColor button:hover,
#modalColor button:focus {
    border: 0.2rem dashed rgba(32, 32, 32, 0.6);
}
#modalColor button:active,
#modalColor button.active {
    border: 0.2rem dashed #222;
}
#modalColor button:hover::before,
#modalColor button:focus::before,
#modalColor button:active::before {
    background: rgba(0, 0, 0, 0);
}

#courseCodes {
    width: min(90%, 50rem);
    margin: 4rem 0 1rem 0;
}
#courseCodes span {
    padding-bottom: 0.4rem;
}

#tagsContainer {
    gap: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem;
    border: 0.1rem solid #222;
}
#tagsInput {
    flex: 1;
    border: none;
    outline: none;
    min-width: 6rem;
    line-height: 160%;
    background: #f5f5f5;
}
.tag {
    display: flex;
    cursor: pointer;
    padding: 0.4rem;
    background: #888;
}
.tag:hover {
    background: #e00;
}

#examsContainer {
    width: 96%;
    z-index: 1000;
    display: flex;
    overflow-x: auto;
    margin-bottom: 3rem;
    justify-content: space-around;
}

#exams td {
    text-wrap: nowrap;
}
#exams td:last-child {
    text-wrap: wrap;
}

#overlay {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 999;
}

@media screen and (max-width: 767px) {
    html,
    body {
        font-size: 14px;
    }
    #exams td:last-child {
        text-wrap: nowrap;
    }
}
