* {
    box-sizing: border-box;
}
html.light {
    --background: #f2f2f2;
    --tableAccent: #d8d8d8;
    --acccent: #727272;
    --main: #2070d0;
    --color: #000;
    --anticolor: #f2f2f2;
    --red: #f83333;
    --buttonHover: rgba(0, 0, 0, 0.1);
    --cellShadow: 0 0 0.6rem 0.1rem black;
    --cellFont: 0;
    --svg: scale(-1, 1);
    --t: transparent;
    --0: #ff4848;
    --1: #16f46d;
    --2: #6988ff;
    --3: #00f6f0;
    --4: #fd8af2;
    --5: #f2f200;

    --6: #cc3939;
    --7: #11c156;
    --8: #546ccc;
    --9: #00c3be;
    --10: #ca6ec1;
    --11: #bfbf00;
}
html.dark {
    --background: #181818;
    --tableAccent: #2a2a2a;
    --acccent: #9f9f9f;
    --main: #2070d0;
    --color: #d0d0d0;
    --anticolor: #181818;
    --red: #f04040;
    --buttonHover: rgba(250, 250, 250, 0.1);
    --cellShadow: 0 0 0.6rem 0.2rem white;
    --cellFont: 0 0 calc(var(--borderSize) * 2) black;
    --svg: scale(1, 1);
    --cellOutline: calc(var(--borderSize) * 2);
    --ot: transparent;
    --o0: #ff4848;
    --o1: #16f46d;
    --o2: #6988ff;
    --o3: #00f6f0;
    --o4: #fd8af2;
    --o5: #f2f200;

    --o6: #cc3939;
    --o7: #11c156;
    --o8: #546ccc;
    --o9: #00c3be;
    --o10: #ca6ec1;
    --o11: #bfbf00;
}

html {
    font-family: Arial, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;
    font-size: 20px;

    --borderSize: 2px;

    color: var(--color);
    color-scheme: light;
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --o0: var(--color);
    --o1: var(--color);
    --o2: var(--color);
    --o3: var(--color);
    --o4: var(--color);
    --o5: var(--color);
    --o6: var(--color);
    --o7: var(--color);
    --o8: var(--color);
    --o9: var(--color);
}

body {
    margin: 0;
    padding: 0;
}

input {
    font-size: 1rem;
    border: var(--borderSize) solid var(--color);
    background: transparent;
    color: var(--color);
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 0.3em;
    border: var(--borderSize) solid var(--color);
}
tr:nth-child(even) {
    background: var(--tableAccent);
}
thead {
    background-color: var(--tableAccent);
}

button {
    position: relative;
    border: calc(var(--borderSize) * 2) solid;
    background: var(--background);
    color: var(--main);
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    padding: 0.4rem;
}
button::before {
    content: "";
    position: absolute;
    inset: 0;
    outline: none;
    background: transparent;
}
button:focus::before,
button:hover::before,
button:active::before {
    outline: none;
    background: var(--buttonHover);
}

dialog {
    padding: 0;
    width: 18rem;
    border: calc(var(--borderSize) * 2) solid var(--color);
    background-color: var(--background);
    color: var(--color);
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.2rem);
}

@media screen and (max-width: 767px) {
    :root {
        font-size: 14px;
        --borderSize: 1px;
    }
}
