* {
    box-sizing: border-box;
}
html.light {
    --background: #f5f5f5;
    --tableAccent: #ddd;
    --acccent: #666;
    --main: #2070d0;
    --color: #000;
    --anticolor: #f5f5f5;
    --red: #d22;
    --buttonHover: rgba(0, 0, 0, 0.1);
    --cellShadow: 0 0 0.6rem 0.1rem black;
    --cellFont: 0;
    --svg: scale(-1, 1);
    --t: transparent;
    --0: #42a4ff;
    --1: #ff4255;
    --2: #3fd55f;
    --3: #ffc61a;
    --4: #C49CE8;
    --5: #0064d9;
    --6: #e10920;
    --7: #089d3c;
    --8: #ff8c19;
    --9: #8A5CE7;
}
html.dark {
    --background: #121212;
    --tableAccent: #242424;
    --acccent: #909090;
    --main: #2070d0;
    --color: #b1b1b1;
    --anticolor: #181818;
    --red: #d22;
    --buttonHover: rgba(250, 250, 250, 0.1);
    --cellShadow: 0 0 0.6rem 0.1rem white;
    --cellFont: 0 0 calc(var(--borderSize) * 2) black;
    --svg: scale(1, 1);
    --cellOutline: calc(var(--borderSize) * 2);
    --ot: transparent;
    --o0: #42a4ff;
    --o1: #ff4255;
    --o2: #3fd55f;
    --o3: #ffc61a;
    --o4: #C49CE8;
    --o5: #0064d9;
    --o6: #e10920;
    --o7: #089d3c;
    --o8: #ff8c19;
    --o9: #8A5CE7;
}

html {
    font-family: Arial, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;
    font-size: 20px;

    --borderSize: 2px;

    color: var(--color);
    color-scheme: light;
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --o0: var(--color);
    --o1: var(--color);
    --o2: var(--color);
    --o3: var(--color);
    --o4: var(--color);
    --o5: var(--color);
    --o6: var(--color);
    --o7: var(--color);
    --o8: var(--color);
    --o9: var(--color);
}

body {
    margin: 0;
    padding: 0;
}

input {
    font-size: 1rem;
    border: var(--borderSize) solid var(--color);
    background: transparent;
    color: var(--color);
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 0.3em;
    border: var(--borderSize) solid var(--color);
}
tr:nth-child(even) {
    background: var(--tableAccent);
}
thead {
    background-color: var(--tableAccent);
}

button {
    position: relative;
    border: calc(var(--borderSize) * 2) solid;
    background: var(--background);
    color: var(--main);
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    padding: 0.4rem;
}
button::before {
    content: "";
    position: absolute;
    inset: 0;
    outline: none;
    background: transparent;
}
button:focus::before,
button:hover::before,
button:active::before {
    outline: none;
    background: var(--buttonHover);
}

dialog {
    padding: 0;
    width: 18rem;
    border: calc(var(--borderSize) * 2) solid var(--color);
    background-color: var(--background);
    color: var(--color);
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.2rem);
}

@media screen and (max-width: 767px) {
    :root {
        font-size: 14px;
        --borderSize: 1px;
    }
}
