name: Deploy Static Site

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Project
        uses: actions/setup-node@v4
        with:
          node-version: '20'
        run: |
          npm ci
          npm run build

      - name: Copy to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          
          source: "dist/*"

          target: "/var/www/scheduler"
          
          strip_components: 1
